<div id="main" class="mat-typography">
  <h1 class="mat-display-4" style="height: 6vh;">GHS Media Project 2020</h1>
  <h1 class="mat-subheading-2" style="height: 2vh;">How does freedom and liberty stem from inequality?</h1>
  <mat-tab-group mat-stretch-tabs backgroundColor="primary" >
    <mat-tab label="About" class="mat-tab-label">
      <div class="mat-body-1">
        This Project is based upon Angela Davis's writing. I will specifically draw upon
        <a href="https://legalform.files.wordpress.com/2017/08/davis-women-race-class.pdf">The Meaning of Emancipation According to Black Women</a>
        in order to show how freedom and liberty stem from inequality.
        In terms of the technical aspects of this project, I'm using <a href="https://angular.io/">Angular</a> for my web framework, <a href="https://material.angular.io/">Angular Material</a> to define standard components and themes,
        <a href="https://canvasjs.com/">CanvasJS</a> to visualize the data.
        and finally <a href="https://pages.github.com/">Github Pages</a> in order to host this website. The source code for this website may be found <a href="https://github.com/Nimzzz/GHSMediaProject">here</a>.
      </div>
      <div class="mat-body-1">
        I've decided to break this up into four sections: About, Main Discussion, Data Visualization, and Sources.
      </div>
      <br>
    </mat-tab>
    <mat-tab label="Main Discussion">
      <div class="mat-body-1">
        I'd like to start with, for those who haven't read the piece, with a short summary of some the main points made by Angela Davis. The piece focuses on the typical life of a Black woman in a post emancipation american society.
        She begins with describing the working conditions of the average Black woman as almost identical to pre-emancipation.
        Then, she turns to the newfound sharecropping methodology where a financial contract replaced a slavery one.
        In addition, the convict lease system allowed Black persons to be rented out for even the mildest of crimes.
        She goes on to describe the many other plights of a Black woman during this time like sexual abuse, stereotyping, and terrible working conditions.
      </div>
      <div class="mat-body-1">
        She uses a plethora of data to support these claims from Census data to a study conducted by W. E. B. DuBois. You can see a visualization of some this data in the following tab.
        But now let's turn to main question, how does freedom and liberty stem from inequality?
        In my opinion, the main takeaway from the article is a stark contrast between freedom in technicality and freedom in reality.
        For many people, freedom is something that can be given in a written contract like the emancipation proclamation or perhaps something about the guarantee of life, liberty, and the pursuit of happiness.
        Personally, my experience with high school history aligned with this train of thought fairly well.
        The slaves were “freed” in 1863, and generations of slavery ended in a single day.
        However, these days that idea seems almost comical if not cynical.
      </div>
      <div class="mat-body-1">
        I suppose this is the easy way to tell the story.
        It doesn’t require a philosophical discussion on the relationship between economics, social mobility, and systematic racism in relationship to freedom.
        So, to tell a broader story, how does inequality fit in to this puzzle? Picture a world with two types of people: high-status and low-status.
        The high-status people benefit from a wealth, no pun of intended, of privileges.
        They receive free higher education, excellent job security, and preferential treatment at every turn. The low-status folks receive the opposite.
        In fact, they are actively shunned from pursuing higher education. However, on paper, these two groups pronounced free and equality.
        The high-status folk, due to their plethora of privileges, experience vast amounts of freedom and liberty. The low-status folk feel a strong lack of freedom.
        This is because they don’t have the freedom of attaining higher education or a secure job.
      </div>
      <div class="mat-body-1">
        So by simplifying the assumptions, we've arrived at the crux.
        In an unequal society, the lesser person has less freedom than the greater person.
        In an equal society, all people experience the same freedoms and therefore are free.
        So how does inequality stifle freedom?
        It creates a system where some people experience freedoms that others don’t get to experience leading to less freedom for some and more freedom for others.
      </div>
    </mat-tab>
    <mat-tab label="Data Visualization">
      <ng-template matTabContent>
        <app-data-component></app-data-component>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>





