<div id="main">
  <h1 class="mat-display-4">GHS Media Project 2020</h1>
  <h1 class="mat-subheading-2">How does freedom and liberty stem from inequality?</h1>
  <mat-tab-group mat-stretch-tabs backgroundColor="primary">
    <mat-tab label="About">
      <div class="mat-body-2">
        This Project is based upon Angela Davis's writing. I will specifically draw upon
        <a href="https://legalform.files.wordpress.com/2017/08/davis-women-race-class.pdf">The Meaning of Emancipation According to Black Women</a>
        in order to show prison systems have given our culture an ideation of what freedom and inequality is.
        In terms of the technical aspects of this project, I'm using <a href="https://angular.io/">Angular</a> for my web framework, <a href="https://material.angular.io/">Angular Material</a> to define standard components and themes,
        and finally <a href="https://pages.github.com/">Github Pages</a> in order to host this website.
      </div>
    </mat-tab>
    <mat-tab label="The Data"> Content 2 </mat-tab>
    <mat-tab label="Sources"> Content 3 </mat-tab>
  </mat-tab-group>
</div>





