<mat-tab-group mat-stretch-tabs backgroundColor="accent" color="accent" style="overflow: hidden;">
  <mat-tab label="1890 Census Data">
    <div id="chartContainer2" style="height: 30vh; width: 50%; margin-left:auto;margin-right:auto;"></div>
    <div id="chartContainer" style="height: 30vh; width: 50%; margin-left:auto;margin-right:auto;"></div>
  </mat-tab>
  <mat-tab label="1899 Pennsylvania Data">
    <div id="chartContainer3" style="height: 30vh; width: 50%; margin-left:auto;margin-right:auto;"></div>
  </mat-tab>
  <mat-tab label="1940 Census Data">
    <div id="chartContainer4" style="height: 30vh; width: 50%; margin-left:auto;margin-right:auto;"></div>
  </mat-tab>
</mat-tab-group>



